{%extends 'all-photos/base.html'%}
{% block content %}
{{block.super}}

<div class="container">
  <div class="jumbtron">
  <div class="card card-cascade wider reverse my-4">
        <h4 class="card-title"><strong>{{ picture.image_name }}</strong></h4>
        <div class="view overlay">
            {% if picture.image %}
            <img src="{{picture.image.url}}" class="img-fluid" alt="no image">
            {% endif %}
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body text-center">
           <span class="badge badge-success">location: {{ picture.location }}</span>
           <span class="badge badge-success">Category: {{ picture.category }}</span>
            <p class="card-text">{{ picture.description }}</p>
            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
        </div>
    </div>
</div>
</div>
{% endblock%}
